@charset "UTF-8";
html,
body {
  position: relative;
  height: 100%;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1230px;
  }
}

/**
* Awesome website
* @author Shogher
* @version 0.1
*/
/* ============================ RESET ============================ */
/* 
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

#main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000000;
}

.nav .nav-item .nav-link {
  color: #000000;
}

.nav .nav-item .nav-link:after {
  display: block;
  content: attr(data-text);
  content: attr(data-text)/"";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  font-weight: 600;
}

.nav .nav-item:hover .nav-link, .nav .nav-item:focus .nav-link {
  color: #4F4F4F;
  font-weight: 600;
}

.swiper .swiper-slide {
  margin: 0;
  width: 100%;
  height: 100%;
}

.swiper .swiper-pagination-current {
  font-size: 1.5rem;
  font-weight: 600;
}

.swiper-button-next, .swiper-button-prev {
  color: rgba(0, 0, 0, 0.8);
  bottom: 50%;
  top: inherit;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 3rem;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  color: #4F4F4F;
}

.swiper-button-next::after {
  content: "»";
}

.swiper-button-prev::after {
  content: "«";
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#header {
  width: 100%;
  z-index: 10;
}

#header .header-container {
  -webkit-box-shadow: -3px -1px 15px #4F4F4F;
          box-shadow: -3px -1px 15px #4F4F4F;
  background-color: rgba(0, 0, 0, 0.8);
}

#header .header-container .burger-menu .navbar {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

#header .header-container .burger-menu .navbar__nav {
  position: absolute;
  left: 50%;
  top: inherit;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: calc(5em + 5vw);
}

#header .header-container .burger-menu .navbar__nav .item {
  display: block !important;
  color: #e7e7e7;
}

#header .header-container .burger-menu .navbar__nav .item .link {
  position: relative;
  color: #e7e7e7;
}

#header .header-container .burger-menu .navbar__nav .item .link:hover {
  color: #F2F2F2;
}

#header .header-container .burger-menu .navbar__nav .item .link:hover .arrow {
  border: solid #F2F2F2;
  border-width: 0 1px 1px 0;
}

#header .header-container .burger-menu .navbar__nav .item .link .arrow {
  border: solid #e7e7e7;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 1.5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  right: -.5em;
  top: 50%;
}

#header .header-container .burger-menu .navbar__nav .item:not(:last-child) {
  margin-bottom: 2rem;
}

#header .header-container .burger-menu .navbar__nav .item .dropdown {
  display: inline-block;
}

#header .header-container .burger-menu .navbar__nav .item .dropdown__content {
  display: none;
  position: relative;
  right: -2rem;
  top: 1rem;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

#header .header-container .burger-menu .navbar__nav .item.dropdown:hover .dropdown__content {
  display: block;
}

#header .header-container .burger-menu input[type="checkbox"] {
  display: none;
}

#header .header-container .burger-menu input[type="checkbox"]:checked ~ .navbar {
  opacity: 1;
  visibility: visible;
}

#header .header-container .burger-menu input[type="checkbox"] {
  display: none;
}

#header .header-container .burger-menu input[type="checkbox"]:checked ~ label .top {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}

#header .header-container .burger-menu input[type="checkbox"]:checked ~ label .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

#header .header-container .burger-menu input[type="checkbox"]:checked ~ label .middle {
  width: 0;
}

#header .header-container .burger-menu input[type="checkbox"]:checked ~ label:hover .bar {
  background-color: #e7e7e7;
}

#header .header-container .burger-menu label {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
  position: fixed;
  left: 3rem;
}

#header .header-container .burger-menu label .middle {
  margin: 0 auto;
}

#header .header-container .burger-menu label .bar {
  display: block;
  background-color: #F2F2F2;
  width: 2rem;
  height: .2rem;
  border-radius: 5px;
  margin: 5px auto;
  -webkit-transition: background-color 0.4s ease-in, width 0.4s ease-in, -webkit-transform 0.4s ease-in;
  transition: background-color 0.4s ease-in, width 0.4s ease-in, -webkit-transform 0.4s ease-in;
  transition: background-color 0.4s ease-in, transform 0.4s ease-in, width 0.4s ease-in;
  transition: background-color 0.4s ease-in, transform 0.4s ease-in, width 0.4s ease-in, -webkit-transform 0.4s ease-in;
}

#header .header-container .brand h2 {
  color: #F2F2F2;
}

#img-container {
  position: relative;
  height: 100vh;
  -webkit-transition: 2s;
  transition: 2s;
  width: 100%;
  overflow: hidden;
}

#img-container .slide {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#img-container .slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
}

.social--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0;
  top: 10rem;
  cursor: pointer;
  z-index: 5;
}

.social--container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social--container .social .arrows, .social--container .social .social__icons {
  background-color: rgba(0, 0, 0, 0.8);
  padding: .5rem;
}

.social--container .social .arrows {
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
  margin: 0;
}

.social--container .social .arrows .icon {
  color: #F2F2F2;
}

.social--container .social .arrows .icon:hover .social__icons {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.social--container .social .arrows .icon:hover .arrows {
  width: 3rem;
}

.social--container .social .arrows .icon:hover .social__icons {
  -webkit-box-shadow: 0px 0px 5px 10px #3f3e3e;
          box-shadow: 0px 0px 5px 10px #3f3e3e;
}

.social--container .social .social__icons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 0;
}

.social--container .social .social__icons li:not(:last-child) {
  margin-bottom: .8rem;
}

.social--container .social .social__icons li a i {
  font-size: 1.5rem;
  color: #F2F2F2;
}

.about__inner .info .heading {
  position: relative;
}

.about__inner .info .heading:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 61px;
  height: 5px;
  margin-top: -1px;
  background: #000000;
}

.about__inner .contact .contact__inner .heading, .about__inner .contact .contact__inner .info {
  white-space: nowrap;
}

.about__inner .contact .contact__inner.download {
  padding: .5rem 1.5rem;
  background: #000000;
  border-radius: 2.5rem;
  color: #F2F2F2;
}

.about__inner .contact .contact__inner.download a {
  white-space: nowrap;
}

.about__inner .contact .contact__inner.download a p {
  color: #F2F2F2;
}

.about__inner .contact .contact__inner.download:hover {
  background-color: #4F4F4F;
}

.about__inner .contact .socila .icon:hover {
  color: #4F4F4F;
}

#portfolio {
  cursor: pointer;
  height: 100vh;
}

#portfolio .container .row .shortcuts {
  margin-top: 3.5rem;
}

#portfolio .container .row .shortcuts .shortcut-slider {
  width: 12rem;
}

#portfolio .container .row .shortcuts .shortcut-slider .shortcut-img {
  height: 7.5rem;
}

#portfolio .heading {
  text-align: center;
}

.footer-area {
  background-color: #e7e7e7;
}
/*# sourceMappingURL=style.css.map */